.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;

}

ul {
    gap: 60px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: flex;
    flex-direction: row;

}

li a {
    text-decoration: none;
    color: black;
}

.caixa-img-logo {
    height: 40px;
    display: flex;
    gap: 70px;
    color: rgb(141, 138, 134);
}

.login {
    border-radius: 30px;
    background-color: #EB662B;
    padding: 10px;
    width: 80px;
    border: none;
    height: 45px;
    color: #ffffff;
}

.categorias {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.banner {
    background-image: url(./assent/Section.png);
    height: 700px;
    width: 1800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-center{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}
.txt-banner{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    

}
.txt-maior{
    font-size:84px;
    color: #ffffff;
}
.descricao{
    color: #ffffff;
    font-size: 18px;
}
.caixa-pesquisa{
    background-color: #ffffff;
   display: flex;
   flex-direction: row;
   width: 700px;
   justify-content: space-around;
}
.quadrado{
    height: 40px;
    width: 40px;
    border: 1px solid darkgray;
    border-radius: 10px;
}
.elementos-pesquisa{
    display: flex;
    flex-direction: row;
}