@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* .inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
  

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    height: 88px;

}

ul {
    display: flex;
    flex-direction: row;

}

li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 15px;
}

li {
    list-style: none;
}

.caixa-img-logo {
    height: 40px;
    width: 600px;
    display: flex;
    gap: 150px;
    color: #757575;

    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.login {
    background-color: #EB662B;
    height: 0px;
    color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 22px;
    height: 15px;
    width: 33px;
}

.categorias {
    display: flex;
    align-items: center;
    gap: 50px;
}

.banner {
    background-image: url(./assent/Section.png);
    height: 700px;
    width: 1800px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}





.txt-banner {
    height: 130px;
    width: 700px;
    color: #ffffff;
    margin-bottom: 50px;
}

.txt-maior {
    font-size: 69px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.descricao {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-weight: 300;
}

.caixa-pesquisa {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 850px;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    gap: 5px;
    border-radius: 10px;

}

.quadrado {
    height: 50px;
    width: 50px;
    border: 1px solid darkgray;
    border-radius: 10px;
}

.elementos-pesquisa {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tt-pesquisa {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
}

.pesquisa-txt {
    font-size: 14px;
    
}

.txt-meio {
    font-weight: 500px;
    font-size: 14px;
}

.btn-pesquisa {
    height: 60px;
    width: 136px;
    border-radius: 15px;
    background-color: #EB662B;
    color: #ffffff;
    border: none;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 15px;
    font-size: 15px;

}
.section-2{
    height: 350px;
    width: 1320px;
    background-color:#ffffff;
    margin: auto;
    margin-top: 80px;


}

.simbolos {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 30px;
}.tt-2{
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
}
.bi{
    color: #EB662B;
    font-size: 60px;


}
.titulo-section-2{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
    margin-top: 25px;
    
}
.descricao-2{
    font-size: 14px;
    font-weight: 400;
}
.smb{
    width: 300px;
    
}
.section-3{
    width: 1320px;
    height: 300px;
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 60px;

}
.tt-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 30px;
}
.paises{
display: flex;
flex-direction: row;
gap: 40px;
align-items: center;
}
.txt-paises{
    font-size: 15;
    font-weight: 500;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-img:hover{
    
}
.txt-tours{
    display: flex;
    align-items: center;
    justify-content: center;

}
.section-4{
    width: 1320px;
    height: 300px;
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 60px;
}
.caixa-1{
    width: 300px;
    height: 370px;
    border: 1px solid gray;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 20px;
}
.titulo-3{
    font-size: 12px;
   margin-right: 60px;
}
.tt-destaque{
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
}
.rdp-cx{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.notas{
    font-size: 12px;
}
hr{
 width: 280px;
}
.conteiner{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    gap: 15px;
}

